.page-header
  %h3
    読書状況
.col-lg-6
  .panel.panel-primary
    - want_to_read_items = current_user.bookshelf.items.find_by_status(1)
    .panel-heading
      %h3.panel-title
        読みたい
        - if want_to_read_items.exists?
          [全#{want_to_read_items.count}件]
    .panel-body
      - want_to_read_items.first(5).each do |item|
        = link_to image_tag(item.image), edit_bookshelf_item_path(item)
  .panel.panel-primary
    - readed_items = current_user.bookshelf.items.find_by_status(3)
    .panel-heading
      %h3.panel-title
        読み終わった
        - if readed_items.exists?
          [全#{readed_items.count}件]
    .panel-body
      - readed_items.first(5).each do |item|
        = link_to image_tag(item.image), edit_bookshelf_item_path(item)
  .panel.panel-primary
    - no_status_items = current_user.bookshelf.items.find_by_status(0)
    .panel-heading
      %h3.panel-title
        指定なし
        - if no_status_items.exists?
          [全#{no_status_items.count}件]
    .panel-body
      - no_status_items.first(5).each do |item|
        = link_to image_tag(item.image), edit_bookshelf_item_path(item)
.col-lg-6
  .panel.panel-primary
    - reading_items = current_user.bookshelf.items.find_by_status(2)
    .panel-heading
      %h3.panel-title
        今読んでる
        - if reading_items.exists?
          [全#{reading_items.count}件]
    .panel-body
      - reading_items.first(5).each do |item|
        = link_to image_tag(item.image), edit_bookshelf_item_path(item)
  .panel.panel-primary
    - stockpiled_items = current_user.bookshelf.items.find_by_status(4)
    .panel-heading
      %h3.panel-title
        積読
        - if stockpiled_items.exists?
          [全#{stockpiled_items.count}件]
    .panel-body
      - stockpiled_items.first(5).each do |item|
        = link_to image_tag(item.image), edit_bookshelf_item_path(item)
