= render 'devise/shared/sns_links'
.row
  .col-lg-6
    %h2 ログイン
    .well
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f|
        - if alert
          .alert.alert-danger
            =alert
        .form-group
          = create_input_form_for_username(f)
        .form-group
          = create_input_form_for_password(f)
        .form-actions
          = f.button :submit, 'ログイン', class: 'btn btn-primary'
