.row
  .col-lg-12
    %ul.pagination
      - if @pager_data[:current_page] == 1
        %li.disabled
          = link_to raw('&laquo;'), '#'
      - else
        %li
          = link_to raw('&laquo;'), search_items_path(keyword: @keyword, page: @pager_data[:current_page] - 1)
      - range = 1..@pager_data[:total_pages]
      - range.each do |num|
        - if num == @pager_data[:current_page]
          %li.active
            %a= num
        - else
          %li
            = link_to num, search_items_path(keyword: @keyword, page: num)
      - if @pager_data[:current_page] == @pager_data[:total_pages]
        %li.disabled
          = link_to raw('&raquo;'), '#'
      - else
        %li
          = link_to raw('&raquo;'), search_items_path(keyword: @keyword, page: @pager_data[:current_page] + 1)
    - start_number = (@pager_data[:current_page] - 1) * @pager_data[:limit] + 1
    - last_number = start_number + @pager_data[:limit] - 1
    - last_number = last_number > @pager_data[:total_results] ? @pager_data[:total_results] : last_number
    %p 全#{@pager_data[:total_results]}件中 #{start_number} - #{last_number}件を表示
