.row
  = content_tag(:div, flash.alert, class: 'alert alert-danger') if flash.alert
  .page-header
    %h2 登録情報の編集
  .col-lg-1
    = image_tag @item.image
  .col-lg-8
    %p= link_to @book[:title], item_path(@book[:asin])
    %p= @book[:author]
%br
= render 'items/form'