.row
  = content_tag(:div, flash.notice, class: 'alert alert-success') if flash.notice
  .col-lg-1
    %h2
      - if current_user.icon
        = image_tag current_user.icon, size: '80'
      - else
        = image_tag 'prof_noimage_upload.gif', size: '80'
  .col-lg-10
    %h2
      = current_user.username
      さんの本棚
.row
  .col-lg-8
    .page-header
      %h3 本棚
    #shelf
      .shelf-wrapper
        #shelf-inner
          - @items.each_with_index do |item, index|
            .item-wrapper
              .item-area
                .item-img-area
                  = link_to image_tag(small_book_image(item.book.image)), edit_user_item_path(current_user, item)
              - if item.rank > 0
                .rank-icon
                  = rank_to_star(item.rank)
      = paginate @items