.row
  .col-lg-8
    %h2 "#{@keyword}"での検索結果一覧
    %table.table
      %tbody
        - @data[:books].each do |book|
          %tr
            %td
              %h4= link_to book[:title], item_path(book[:asin])
              #{book[:author]} / #{book[:publication_date]} / #{book[:price]}
          %tr.active{id: "book_#{book[:asin]}"}
            %td
              .col-lg-3
                = image_tag book[:medium_image]
              .col-lg-6
                - unless Item.where(:bookshelf_id => @bookshelf.id, :asin => book[:asin]).exists?
                  .regist-btn
                    = form_tag(bookshelf_items_path, {data: {remote: true}, :class => 'result-form'}) do
                      = hidden_field :book, :asin, :value => book[:asin]
                      = hidden_field :book, :image, :value => book[:small_image]
                      = submit_tag 'Save', class: 'btn btn-primary'
                - else
                  本棚に登録済み
    = render 'items/pager'
